._x19{flex-grow:1}
.sp_ZMuM4yG8YPP_1_5x{background-image:url(/rsrc.php/v3/yu/r/v_fA9f0BWEn.png);background-size:14px 42px;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_ZMuM4yG8YPP_1_5x.sx_8119a6{background-position:0 0}.sp_ZMuM4yG8YPP_1_5x.sx_a6c92f{background-position:0 -14px}.sp_ZMuM4yG8YPP_1_5x.sx_1ed2ad{background-position:0 -28px}

#bootloader_2NNqL{height:42px;}.bootloader_2NNqL{display:block!important;}